// @use "./colors.scss" as colors;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap");



:root {

 
  // color: colors.$brightBlue;
  // background-color: var(--brightBlue);
   /* color palette */
// $brightBlue: hsl(220, 98%, 61%);
//  /* light theme */
 --lightThemeVeryLightGray: hsl(0, 0%, 98%);
 --lightThemeVeryLightGrayishBlue: hsl(236, 33%, 92%);
 --lightThemeLightGrayishBlue: hsl(233, 11%, 84%);
 --lightThemeDarkGrayishBlue: hsl(236, 9%, 61%);
 --lightThemeVeryDarkGrayishBlue: hsl(235, 19%, 35%);
// /* dark theme */
 --darkThemeVeryDarkBlue: hsl(235, 21%, 11%);
 --darkThemeVeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
 --darkThemeLightGrayishBlue: hsl(234, 39%, 85%);
//  //  --darkThemelightGrayishBlue (hover): hsl(236, 33%, 92%);
 --darkThemeDarkGrayishBlue: hsl(234, 11%, 52%);
 --darkThemeVeryDarkGrayishBlue: hsl(233, 14%, 35%);
 --darkThemeVeryDarkGrayishBlue: hsl(237, 14%, 26%);
 
}

